<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Profile</title>
</head>
<body>
    <h1>Admin Profile.</h1>
    <p>Welcome to your profile, <%= user.username %>.</p>
    <p>You have admin access, your role is <%= user.role %></p>
    <p>Your name is <%= user.username %>.</p>
    <p>Your email is <%= user.email %></p>
    <a href="/admin">Go to your dashboard.</a>
    <a href="/logout">Logout</a>
</body>
</html>