<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard | Habit Quest</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand bg-dark border-bottom border-body" data-bs-theme="dark">
            <div class="container">
                <a href="#" class="navbar-brand">Habit Quest</a>
                <ul class="navbar-nav">

                    <li class="nav-item">
                        <a href="/dashboard" class="nav-link active">Dashboard</a>
                    </li>

                    <li class="nav-item">
                        <a href="/profileupdate" class="nav-link">Profile</a>
                    </li>
                </ul>
                <div class="buttons">
                    <a href="/logout" class="btn btn-light">Logout</a>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <h1>User Dashboard.</h1>
        <p class="dashHead">Welcome to your dashboard, <%= user.name %>.</p>
        <p><strong>Your current email is:</strong> <%= user.accountEmail %>.</p>
        <p><strong>Your access is:</strong> Regular.
        <p><strong>Your role is:</strong> <%= user.role %></p>
    </div>
</body>
</html>