<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>User Profile.</h1>
    <p>Welcome to your profile, <% user.username %>.</p>
    <p>You have regular access.</p>
    <a href="/dashboard">Go to your dashboard.</a>
    <a href="/logout">Logout</a>
</body>
</html>